<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blogs-Home</title>
    <%- include('./partials/meta') %>
  </head>

  <body>
    <header><%- include('./partials/nav') %></header>
    <main>
      <div class="container">
        <div class="container py-5">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Card 1 -->
            <div class="col">
              <div class="card h-100">
                <img
                  src="/blog.jpg"
                  class="card-img-top"
                  alt="Card image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col">
              <div class="card h-100">
                <img
                  src="/blog.jpg"
                  class="card-img-top"
                  alt="Card image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col">
              <div class="card h-100">
                <img
                  src="/blog.jpg"
                  class="card-img-top"
                  alt="Card image"
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/script') %>
  </body>
</html>
